.cartUser{
	width: 100%;
	min-height: 90vh;
	height: auto;
	background-color:#cecece;
	margin:0;

	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.cartUser h1{
	text-align: center;
	color: black;
	margin-bottom: 2rem;
	font-size: 40px;
}

.cartUser-main{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.cartUser-empty{
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.cartUser ul{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin: 0;
	padding:0;
}
.cartUser li{
	list-style: none;
	background-color:black;
	color: #cecece;
	width: 50%;
	height: auto;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-radius: 20px;
	padding: 4rem 0;
	margin: 1rem 0;
}
.cartUser li h3{
	font-size: 35px;
	margin: 1rem 0 0 0;
}
.cartUser li h4{
	margin: 1rem;
	font-size: 20px;
}
.cartUser li h5{
	margin: 0;
}
.cartUser-main img{
	width: 30rem;
	margin: 2rem 0;
}
.cartUser button{
	margin: 1rem 0;
	background-color:black;
	color: #cecece;
	width: 10rem;
	height:2rem;
	border-radius: 20px;
	border: 0;
}
.cartUser button:hover{
	cursor: pointer;
}

.cartUser-total{
	background-color:black;
	color: #cecece;
	width: 20rem;
	height: auto;
	border-radius: 20px;
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 0.8rem 0;
	font-weight: bold;
}
.remove{
	background-color:#cecece !important;
	color: black !important;
}