.itemDetail{
	margin: 0 40px;
	width: 300px;
	height: auto;
	background-color:black;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-radius:20px;
	color: white;
}

.itemDetail li{
	list-style-type: none;
}