.itemDetail{
	margin: 0 40px;
	width: 300px;
	height: auto;
	background-color:black;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-radius:20px;
	color: white;
}

.itemDetail p{
	color: white;
}

.itemDetail li{
	list-style-type: none;
}

.itemDetail a{
	text-decoration: none;
}

.goToCart{
	background-color: rgb(0, 133, 181);
	color: white;
	width: 170px;
	height: 30px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	border-radius:15px;
}